@use "../utilities/mixin";
@use "../utilities/variables";

.menu {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  tr {
    border-bottom: 1px solid #eee;
  }

  th,
  td {
    padding: 1rem;
  }

  th {
    text-align: left;
    font-weight: 600;
  }

  td {
    text-align: right;
    font-weight: bold;
  }
  @include mixin.sp {
    table {
      display: block;
    }

    tbody {
      display: block;
    }

    tr {
      display: grid;
      grid-template-columns: 1fr 1fr; // ← th + td
      row-gap: 0.5rem;
      padding: 0.75rem 0;
    }

    th {
      grid-column: 1;
      white-space: normal;
    }

    td {
      grid-column: 2;
      white-space: nowrap;
    }
    tr > th:nth-of-type(2),
    tr > td:nth-of-type(2) {
      grid-column: span 2; // 一旦横断
    }

    tr > th:nth-of-type(2) {
      grid-column: 1;
      margin-top: 0.75rem;
    }

    tr > td:nth-of-type(2) {
      grid-column: 2;
      margin-top: 0.75rem;
    }
  }
}