@use "../utilities/variables" as *;

body {
    font-family: $font-main;
    color: $color-main;
    background: $color-bg;
    line-height: 1.6;
}
.container {
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;
}
.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}