@use "variables" as *;

/* ------------------
  SmartPhone
------------------ */
@mixin sp {
  @media (max-width: $sp) {
    @content;
  }
}

/* ------------------
  Tablet（SP除外）
------------------ */
@mixin tb {
  @media (min-width: ($sp + 1px)) and (max-width: $tb) {
    @content;
  }
}

/* ------------------
  PC
------------------ */
@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

/* ------------------
  Utility
------------------ */
@mixin img-fluid {
  width: 100%;
  height: auto;
  display: block;
}

@mixin fluid-font($pc-size, $sp-size) {
  font-size: $pc-size;

  @include sp {
    font-size: $sp-size;
  }
}

@mixin row-to-column {
  display: flex;
  gap: 20px;

  @include sp {
    flex-direction: column;
  }
}