$font-main: "Helvetica" , "Arial" , sans-serif;

$color-main: #333;
$color-sub: #666;
$color-accent: #a67c52;
$color-bg: #fafafa;

$max-width: 1200px;

/* breakpoints */
$sp: 767px;   // スマホ最大
$tb: 959px;   // タブレット最大
$pc: 960px;   // PC最小