@use "../utilities/mixin" as mixins;

.gallery {
    padding: 5rem 0;

    .grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem;

        @include mixins.tb {
            grid-template-columns: repeat(2,1fr);
        }
        @include mixins.sp {
            grid-template-columns: repeat(1,1fr);
        }
    }
}