.voice {
    padding: 5rem 0;

    .voice-item {
        background: white;
        padding: 1.5rem;
        border-radius: 8px;
        margin-bottom: 1.5rem;
        box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    }
}